@CHARSET "UTF-8";

/*
 * tools
 */
.c {clear:both}

/*
 * header
 */
.wrapper > .header {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 14px 0;
	width: 100%;
	z-index: 2;
	background-color: white;
	opacity: 0.9;
	box-shadow: 0px 4px 12px rgba(30,32,24,0.1);
}

  .wrapper > .header > .inner {
	  width: 960px;
	  margin: 0 auto;
  }

/*
 * stack
 */
.simple-stack {
	margin-top: 70px!important;
}

.wtwr-sidebar {
	position: fixed;
	top: 156px;
	left: 0;
	width: 50%;
}

.wtwr-sidebar ul {
	margin-right: 501px;
	text-align: right;
	font-size: 14px;
	line-height: 24px;
}

.wtwr-sidebar ul li a {
	opacity: 0.75;
}

/*
 * tema todos
 */
#page-members {
	.group-default {
		.switch-to-todos
	}
}
