@CHARSET "UTF-8";

/*
 * tools
 */
.c {clear:both}

/*
 * header
 */
.wrapper > .header { 
	position: fixed; 
	padding: 14px;
	margin-top: 0;
	width: 100%;
	z-index: 2; 
	background-color: white;
	opacity: 0.9;
	box-shadow: 0px 4px 12px rgba(30,32,24,0.1);
  }

/*
 * stack
 */
  
.simple-stack {
	padding-top: 70px !important;
	box-shadow: 0 2px 7px rgba(0,0,0,0.05) !important;
	border: 1px solid #eaeaea !important;
} 